@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Abyssinica+SIL&family=Montserrat:ital,wght@1,500&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* *Header */
.head {
    background-color: #0f172a;
    color: white;
    font-size: 3em;
    font-weight: 900;
    text-align: center;
    padding: 0.2em;
    font-family: 'Abyssinica SIL', serif;
}

.wrapper {
    position: relative;
    display: flex;
    background-color: #d1fae5;
}


.booksDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0ea5e9;
    width: 400px;
    height: 100vh;
    position: sticky;
    padding: 10px;
    top: 0%;
    border-radius: 25px;
    margin-left: 5px;
    margin-top: 5px;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(60, 117, 151),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);

}

/* to enter the book details */
.newBook {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.3em;
}


.newBook input {
    font-size: 20px;
    padding-left: 10px;
    outline: none;
    background: none;
    border: none;
    border-bottom: 2px solid black;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.book {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 5px 0;
}

.book textarea {
    resize: none;
    padding: 10px;
    background:#fee2e2;
    border-radius: 10px;
    border: 2px solid #ccc;
    -webkit-transition: 0.5s;
    transition: ease-in 0.2s;
    outline: none;

}

.book textarea:focus{
    border: 2px solid red;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(110, 188, 162),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

/* more styling in input methods */
.name {
    margin-bottom: 10px;
}


/* shows the total count of books */
.books {
    background-color: #d1fae5;
    width: 70%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0;
    padding: 20px;
    border-radius: 30px;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(75, 200, 192),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.books table{
    text-align: left;
}
.books table td{
    font-size: 30px;
}


/* Books will go inside this div */
.bookShelf {
    width: 100vw;
    overflow: hidden;
}

/* books cards will go inside this */
.show {
    display: grid;
    grid-template-columns: auto auto;
    padding: 30px;
    align-items: center;
    justify-content: center;
    gap: 30px;
}


/* Book cards */
.showBook {
    display: flex;
    flex-direction: column;
    background-color:#0ea5e9;
    width: 400px;
    height: 420px;
    padding: 15px;
    font-size: 25px;
    border-radius: 30px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(19, 153, 180),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

/* css of edit and delete button inside the card */
.button{
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;  
    border-radius:10px ;
}

/* css of add and read unread button on form. */
.btn{
    height: 40px;
    width:150px;
    border-radius: 20px;
    padding: 5px 10px;
    outline: none;
    border: none;
}

.btn:hover{
    height: 42px;;
}

/* css of edit btn which will pop when user clicks edit */

.editbtn{
    margin-bottom: 10px;
    padding: 5px 10px;    
    height: 40px;
    width: 100%;
    border-radius: 20px;
    background-color: #fb7185;
}

/* css of edit and delete button inside the card */
.iconsBtn{
    background: none;
    width: 70px;
    padding: 5px;
    border: none;
    outline: none;
}

.iconsBtn img:hover{
    height: 62px;
    width: 62px;
}
.iconsBtn img{
    width: 60px;
    height: 60px;
}



/* css of read and unread button on the card */
.readBtn{
    width: 100%;
    outline: none;
    border: none;
    height: 40px;
    border-radius: 30px;
}
.readBtn:hover{
    height: 42px;
}


/* css of book detail inside the card */
.bookDetails{
    text-transform: capitalize;
}

.bookNotes{
    font-size: 20px;
}

.book_Name{
    width: 100%;
    text-transform: capitalize;
    font-family: 'Abril Fatface', cursive;
    font-size: 35px;
    border: 2px solid black;
    /* font-weight: ; */
}